#root {
  width: 100%;
  margin: 0 auto;
}
:focus-visible {
  outline: none !important;
}
.sc-fPXMhL.elRAjd {
  width: 100%;
}
a {
  height: max-content !important;
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
}
